.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}

.img {
  position: absolute;
  z-index: 0;
  width: 10.5rem;
  height: auto;
  aspect-ratio: 105 / 120;
  top: 35%;
  left: 50%;
  transform: translate(calc(-50% + 6.7rem), -50%);
  pointer-events: none;
}

.value {
  position: relative;
  z-index: 1;
  line-height: 1;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 10.2rem;
  text-shadow: 0.04em 0.04em 0 var(--accent);
}
